<table class="table table-sm">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>
            {% for character in s2 %}
            <th>{{ character }}</th>
            {% endfor %}
        </tr>
        <tr>
            <th></th>
            <th></th>
            {% for i in range(lengthS2 + 1) %}
            <th>{{ i }}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for i in range(lengthS1 + 1) %}
        <tr>
            {% if i != 0 %}
            <td><b>{{ s1[i - 1] }}</b></td>
            {% else %}
            <td></td>
            {% endif %}
            <td><b>{{ i }}</b></td>
            {% for j in range(lengthS2 + 1) %}
            <td>{{ matrix[i][j][0] }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>